.sections-container {
    height: 100vh;
    width: 100vw;

    display: flex;

    background: rgb(0,4,43);
    background: -moz-linear-gradient(115deg, rgba(0,4,43,1) 0%, rgba(121,71,74,1) 83%, rgba(0,4,43,1) 100%);
    background: -webkit-linear-gradient(115deg, rgba(0,4,43,1) 0%, rgba(121,71,74,1) 83%, rgba(0,4,43,1) 100%);
    background: linear-gradient(115deg, rgba(0,4,43,1) 0%, rgba(121,71,74,1) 83%, rgba(0,4,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00042b",endColorstr="#00042b",GradientType=1);
    
    color: #FFFFFF;

}

.contacts-container {
    .search-container {
        .search-about {
            width: 25vw;
            color: #FFFFFF;
            padding: 5px 5px;
        
            border: none;
            outline: none;
            margin-bottom: 10px;
        
            background: transparent;
            border-bottom: 2px solid #FFFFFF;
        }   
    }

    .contact-container {
        width: 25vw;

        padding: 20px;

        background-color: #82828269;
        border-radius: 25px;
    }
}

.chat-messages-container {
    height: 70vh;
    width: 50vw;

    padding: 20px;

    margin-top: 20px;

    background: rgb(142,142,142);
    background: -moz-linear-gradient(0deg, rgba(142,142,142,0.08883443940121472) 51%, rgba(206,206,206,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(142,142,142,0.08883443940121472) 51%, rgba(206,206,206,0) 100%);
    background: linear-gradient(0deg, rgba(142,142,142,0.08883443940121472) 51%, rgba(206,206,206,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8e8e8e",endColorstr="#cecece",GradientType=1);
    
    .messages-box {
        height: 57.5vh;
        margin-bottom: 10px;

        display: flex;
        flex-direction: column;

        .messages-sender, .messages-receiver {
            width: fit-content;
            padding: 10px 15px;

            border-radius: 20px;
        }

        .messages-sender {
            background-color: rgba(165, 165, 165, 0.311);
        }

        .messages-receiver {
            background-color: rgba(97, 39, 39, 0.311);

            margin-left: auto;
        }
    }

    .message-form {
        display: flex;
        justify-content: space-around;

        .message-input {
            width: 93%;

            padding: 5px 10px 7px;
            outline:none;
            border-radius: 10px;
        
            transition:all 300ms;
            -webkit-transition:all 300ms;
            
            color:white;
            border: 2px solid white;
            background-color:rgba(0, 0, 0, 0);
        }

        .message-input:focus {
            font-size:16px;
        }

        .message-submit {
            height: 30px;
            width: 30px;

            border: none;
            outline: none;
            
            margin: 5px;

            color: #FFFFFF;
            background-color: #d5d5d569;
        }
    }
}

.about-container {
    width: 25vw;

    text-align: center;

    .about-info {
        margin-top: 50px;
    }

}

.contacts-container, .chat-container {
    margin: 50px 0 50px 50px;
}

.chat-picture {
    height: 60px;
    width: 60px;

    border-radius: 50%;
}

.chat-info {
    padding: 5px 15px;

    .chat-name {
        font-weight: 700;
    }
}

.msg-card-body {
    overflow-y: auto;
}

.user-img-msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img-cont-msg {
    height: 40px;
    width: 40px;
}

.msg-cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg-time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg-cotainer-send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg-time-send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}
